<main>
  <!-- Botão estilizado com ícone da Twitch -->
  <a href="https://www.twitch.tv/luigi_043_" target="_blank" class="watch-button">
    Watch Luigi's Stream <i class="fab fa-twitch"></i>
  </a>

  <!-- Texto de boas-vindas -->
  <p class="welcome-text">
    <a href="https://www.twitch.tv/luigi_043_" target="_blank" class="watch-button-text">
      Watch <i class="fab fa-twitch"></i>
    </a> 
    <span class="highlight">🎉 Welcome to Luigi_043!</span> 🌟 Você acabou de entrar em uma das comunidades mais insanas e vibrantes da Twitch! Aqui, os videogames não são apenas um passatempo—são uma forma de vida. 🚀 Prepare-se para uma jornada repleta de risadas épicas, sustos inesperados e momentos tão inesquecíveis que você vai querer se inscrever para não perder nada. 💥

    Junte-se a nós enquanto mergulhamos em aventuras alucinantes e compartilhamos cada emoção dessa viagem incrível. Sua presença é a cereja do bolo desta comunidade, e estamos super animados para que você experimente toda a diversão e empolgação conosco! 🎮✨

    Se você está pronto para um mar de diversão e surpresas, clique no botão e venha se jogar nessa experiência maluca com a gente! 🚀🎉
  </p>
  
  <!-- Embed Twitch stream -->
  <div class="twitch-stream">
    <iframe src="https://player.twitch.tv/?channel=luigi_043_" frameborder="0" allowfullscreen="true" scrolling="no" height="1280" width="2000"></iframe>
  </div>
</main>
