<main>
    <h1>Social Media</h1>
    <section>
      <h2>Platform Information</h2>
      <p>Details about the platforms you use.</p>
      <div class="media-display">
        <!-- Display YouTube and TikTok clips here -->
      </div>
      <div class="social-links">
        <a href="https://twitter.com/yourprofile">Twitter</a>
        <a href="https://facebook.com/yourprofile">Facebook</a>
        <!-- Add other social media links -->
      </div>
    </section>
    <!-- Bottom Section: Social Media Posts and Photo Grid -->
  <section class="social-media-links">
    <h2>Confira meus posts mais recentes</h2>
    <div class="social-media-posts">
      <div class="post">
        <a href="https://youtu.be/RUBDjs4QmS8?si=ydqp_pgXh6037TTR" 
        target="_blank">
          <img src="https://snipboard.io/KERv3L.jpg" 
          alt="YouTube Video Thumbnail">
        </a>
      </div>
      <div class="post">
        <a href="https://www.twitch.tv/luigi_043_/clip/EnticingEnjoyableKimchiDxCat-hFDJFp4D6hfeyj_r" 
        target="_blank">
          <img src="https://snipboard.io/9wtdHa.jpg" 
          alt="Twitch Clip Thumbnail">
        </a>
      </div>
      <div class="post">
        <a href="https://www.instagram.com/p/B8JNRd9ngeP/" 
        target="_blank">
          <img src="https://snipboard.io/XUoyHK.jpg" 
          alt="Instagram Post Thumbnail">
        </a>
      </div>
      <div class="post">
        <a href="https://www.tiktok.com/@_luigi_043/video/7388202890327903520?is_from_webapp=1&sender_device=pc&web_id=7358796880883828257" 
        target="_blank">
          <img src="https://snipboard.io/L5besR.jpg" 
          alt="TikTok Video Thumbnail">
        </a>
      </div>
    </div>
  </section>


  </main>
  