
<main>
   
    <h1>Social Media</h1> 

  <section class="video-section">
      <div class="video-container">
          <div class="video-item">
              <a href="https://youtu.be/UCvbuiMJ-CY?si=IQBCWAFtP31PXUc7&t=2611" target="_blank">
                  <img src="https://snipboard.io/cwfrZs.jpg" alt="Video 1 Thumbnail">
              </a>
              <p class="video-title">Dan Danger | Nopixel green 4.0 | Day 6 </p>
          </div>
          <div class="video-item">
              <a href="https://youtu.be/2EDpSj3SZAc?si=tv0PY80xmA9_FIwN&t=5224" target="_blank">
                  <img src="https://snipboard.io/wmy36x.jpg" alt="Video 2 Thumbnail">
              </a>
              <p class="video-title">🚨 BadHabitsRP Patrol! Join Cop Donnie Roger in GTAV for Law and Order LIVE! 🎮🚓💼</p>
          </div>
      </div>
  </section>
</main>
