/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F3FAFD; /* Cor de fundo do corpo */
  color: #292927; /* Cor padrão do texto */
}

/* Navigation Bar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
 /* background-color: #418DD8;  Azul para a barra de navegação */
  color: white;
}

.twitch-button-container {
  display: flex;
  align-items: center;
}

/* Container for the About Me Section */
.about-me-container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

/* Top Section: Description and Profile Photo */
.top-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.description {
  flex: 1 1 60%;
  margin-right: 20px;
  text-align: left;
}

.description p {
  margin-bottom: 15px;
  font-size: 1.1em;
  color: #292927; /* Cor do texto da descrição */
}

.profile-photo {
  flex: 1 1 35%;
  text-align: center;
}

.profile-photo img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Button Group */
.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  background-color: #418DD8; /* Azul para os botões */
}

button i {
  margin-right: 10px;
}

/* Hover Effects for Buttons */
button:hover {
  background-color: #292927; /* Escurece o fundo do botão ao passar o mouse */
  transform: scale(1.05);
}

/* Photo Grid Section */
.photo-grid {
  margin-top: 40px;
}

.photo-grid h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
  color: #292927; /* Cor do título da galeria de fotos */
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  flex: 1;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.column img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.column img:hover {
  transform: scale(1.05);
}

/* Level Classes for Different Sizes */
.level-1 {
  height: 150px;
}

.level-2 {
  height: 200px;
}

.level-3 {
  height: 250px;
}

/* Responsive layout */
@media (max-width: 768px) {
  .top-section {
      flex-direction: column;
  }

  .description {
      margin-right: 0;
      margin-bottom: 20px;
  }

  .profile-photo {
      margin-bottom: 20px;
  }

  .button-group {
      flex-direction: column;
      gap: 5px;
  }

  .column {
      flex: 1 1 100%;
  }
}
