<!-- Navigation Bar -->
<nav class="navbar">
  <div class="twitch-button-container">
    <button mat-raised-button color="primary" (click)="goToTwitch()">
      <i class="fab fa-twitch"></i> Watch Live on Twitch
    </button>
  </div>
</nav>

<!-- Container for About Me Section -->
<div class="about-me-container">
  <!-- Top Section: Description and Profile Photo -->
  <div class="top-section">
    <div class="description">
      <p>
        I'm Luiz Fehlberg, known as luigi_043 for my live streams on Twitch and videos on YouTube. Originally from Mozambique, I've been living in Portugal for over 5 years. I'm an enthusiast of Computer Engineering and a content creator. I love cars, especially BMWs, and I'm passionate about traveling, rally racing, music, and exploring new places. If you see me around, don't hesitate to say hello!
      </p>
      <div class="button-group">
        <button mat-raised-button color="accent" (click)="launchStream()">
          Launch Luigi's Stream
        </button>
        <button mat-raised-button color="warn" (click)="checkOutMerch()">
          Check out The Merch
        </button>
      </div>
    </div>
    <div class="profile-photo">
      <img src="assets/image2.png" alt="Minha Foto">
    </div>
  </div>

  <!-- Photo Grid Section -->
  <section class="photo-grid">
    <h2>Galeria de Fotos</h2>
    <div class="row">
      <div class="column">
        <img src="assets/image/photo1.jpg" alt="Photo" class="level-1">
        <img src="assets/image/photo2.jpg" alt="Photo" class="level-2">
        <img src="assets/image/photo3.jpg" alt="Photo" class="level-3">
      </div>
      <div class="column">
        <img src="assets/image/photo4.jpg" alt="Photo" class="level-2">
        <img src="assets/image/photo5.jpg" alt="Photo" class="level-1">
        <img src="assets/image/photo6.jpg" alt="Photo" class="level-3">
      </div>
      <div class="column">
        <img src="assets/image/photo7.jpg" alt="Photo" class="level-3">
        <img src="assets/image/photo8.jpg" alt="Photo" class="level-2">
        <img src="assets/image/photo9.jpg" alt="Photo" class="level-1">
      </div>
    </div>
  </section>
</div>
