<main>
  <!-- Header -->
  <header>
    <h1>Store</h1>
    <button routerLink="/cart" mat-button class="cart-link">
      <span class="fa">&#xf07a;</span>
      <span class="cart-count">{{ getTotalItemsInCart() | async }}</span>
    </button>
  </header>

  <!-- Product Filters -->
  <section class="product-filters">
    <button (click)="filterCategory('all')">All</button>
    <button (click)="filterCategory('clothing')">Clothing</button>
    <button (click)="filterCategory('home')">Home & Living</button>
    <button (click)="filterCategory('accessories')">Accessories</button>
    <button (click)="filterCategory('hats')">Hats</button>
    <button (click)="filterCategory('school')">School</button>
  </section>

  <!-- Products Grid -->
  <section class="products">
    <button *ngFor="let product of filteredProducts" 
    class="product-card" 
    (click)="openProductDetails(product)">
      <div class="image-slideshow">
        <img *ngFor="let image of product.images; let i = index"
        [src]="image" 
        [alt]="product.name" [class.active]="i === product.activeImageIndex">
      </div>
      <h3>{{ product.name }}</h3>
      <p>${{ product.price }}</p>
    </button>
  </section>

  <!-- Product Details Modal -->
  <div class="product-details-modal" *ngIf="selectedProduct">
    <div class="product-details-modal-content">
      <button class="close-modal" mat-button (click)="closeProductDetails()">×</button>
      
      <!-- Product Details Layout -->
      <div class="product-details-layout">
        <div class="product-image">
         
          <img *ngFor="let image of selectedProduct.images; let i = index"
          [src]="image" 
          [alt]="selectedProduct.name" [class.active]="i === selectedProduct.activeImageIndex">
          
         
          <button mat-button (click)="previousImage(selectedProduct)" 
          class="prev">&laquo;</button>
          
          <button mat-button (click)="nextImage(selectedProduct)" 
          class="next">&raquo;</button>
        </div>
       
        <div class="details-text">
          <h2>{{ selectedProduct.name }}</h2>
          <p><strong>Price:</strong> ${{ selectedProduct.price }}</p>
          <p><strong>Limited Edition:</strong> 10 left</p>
          <p><strong>Size:</strong> Available in various sizes</p>
          <p><strong>Description:</strong></p>
          <ul>
            <li *ngFor="let line of selectedProduct.description.split('\n')">{{ line }}</li>
          </ul>
          <p><strong>Color:</strong> Sand</p>
          
          <button class="add-to-cart" mat-button (click)="addToCart(selectedProduct)">Add to Cart</button>
         
          <button class="buy-now" mat-button (click)="buyNow(selectedProduct)">Buy Now</button>
        </div>
      </div>
    </div>
  </div>
</main>
