<div class="app-container">
  <header>
    <img src="assets/logo.png" alt="Luigi_043 Logo">
  </header>
  <nav class="nav-buttons-grid">
    <button class="nav-button" routerLink="/">Home</button>
    <button class="nav-button" routerLink="/about-me">About Me</button>
    <button class="nav-button" routerLink="/contact-me">Contact Me</button>
    <button class="nav-button" routerLink="/social-media">Social Media</button>
    <button class="nav-button" routerLink="/watch">Watch</button>
    <button class="nav-button" routerLink="/merchant">Merchant</button>
  </nav>
  
</div>
<router-outlet></router-outlet>
