<!-- Home Page Layout -->

  <img src="assets/logo2.png" alt="Luigi_043 Logo" class="logo" >

<!-- Main Content Area -->
<router-outlet></router-outlet>

<!-- Bottom Left Container -->
<div class="bottom-left-container">
  <!-- Social Media Buttons -->
  <div class="social-media-buttons">
    <a
      href="https://www.instagram.com/__luiz__morais__/"
      target="_blank"
      mat-icon-button
      color="primary">
      <i class="fab fa-instagram"></i>
    </a>

    <a
      href="https://twitter.com/luigi_043"
      target="_blank"
      mat-icon-button
      color="primary">
      <i class="fab fa-twitter"></i>
    </a>

    <a
      href="https://www.reddit.com/user/Luigi_043/"
      target="_blank"
      mat-icon-button
      color="primary">
      <i class="fab fa-reddit"></i>
    </a>

    <a
      href="https://www.youtube.com/@luigi_043"
      target="_blank"
      mat-icon-button
      color="primary">
      <i class="fab fa-youtube"></i>
    </a>
  </div>

  <!-- Navigation Buttons -->
  <div class="navigation-buttons">
    <a
      mat-button
      routerLink="/"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="selected">Home</a>
      
    <a
      mat-button
      routerLink="/about"
      routerLinkActive="selected">About</a>
      
    <a
      mat-button
      routerLink="/contact"
      routerLinkActive="selected">Contact</a>
      
    <a
      mat-button
      routerLink="/social-media"
      routerLinkActive="selected">Social</a>
      
    <a
      mat-button
      routerLink="/watch"
      routerLinkActive="selected">Watch</a>
      
    <a
      mat-button
      routerLink="/merchant"
      routerLinkActive="selected">Merchant</a>
  </div>
</div>
