/* Ensure the whole viewport height is used */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F3FAFD; /* Background color for the whole page */
  font-family: 'Edu AU VIC WA NT Hand', sans-serif; /* Fonte padrão */
}

/* Styling for the main content area */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80vh; /* Use 80% of the viewport height */
}

/* Styling for the welcome section */
.welcome-section {
  background: #FFFFFF; /* White background for the section */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-out;
}

/* Header styling */
.welcome-section h1 {
  font-size: 2.5em;
  color: #292927; /* Dark gray color for headers */
  margin-bottom: 10px;
}

/* Paragraph styling */
.welcome-section p {
  font-size: 1.2em;
  color: #292927; /* Dark gray color for text */
  margin-top: 0;
}

/* Center the navigation bar */
nav {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Styling for the Twitch button container */
.twitch-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}



/* Icon styling */
.twitch-button i {
  margin-right: 10px; /* Space between icon and text */
  font-size: 1.5em; /* Adjust size of Twitch icon */
}

/* Hover effect for the button */
.twitch-button:hover {
  background-color: #a75bff; /* Lighter purple on hover */
  transform: scale(1.05);
}

/* Animation for the welcome section */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
